numpy
pandas
torch
transformers
sentence-transformers
bertopic
umap-learn
hdbscan
scikit-learn
bitsandbytes
peft
tqdm
nltk
spacy
matplotlib
seaborn
wordcloud
openai
tiktoken
torchvision
datasets
iterstrat
jupyter
ipython
joblib
scipy
requests
yt-dlp
Pillow
